<div class="default-form">
  <%= form_for @user, :html => {:multipart => true} do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <p><%= f.label :first_name %></p>
      <p><%= f.text_field :first_name %></p>
    </div>
     <div class="field">
      <p><%= f.label :last_name %></p>
      <p><%= f.text_field :last_name %></p>
    </div>
     <div class="field">
      <p><%= f.label :email %></p>
      <p><%= f.text_field :email %></p>
    </div>
     <div class="field">
      <p><%= f.label :handle %></p>
      <p><%= f.text_field :handle %></p>
    </div>
     <div class="field">
      <p><%= f.label :password %></p>
      <p><%= f.password_field :password %></p>
    </div>
     <div class="field">
      <p><%= f.label :password_confirmation %></p>
      <p><%= f.password_field :password_confirmation %></p>
     </div>   
     <div class="field">
       <%= f.label :image %><br />
       <%= f.file_field :image %>
     </div>     
     <%= admin_area do %>
       <div class="field">
        <p><%= f.label :admin %></p>
        <p><%= f.check_box :admin %></p>
       </div>           
     <% end %>
     <div class="field">
      <p><%= f.label :followed_personas %></p>
      <% for persona in Persona.order(:name).all %>
        <p>
          <%= check_box_tag "user[followed_persona_ids][]", persona.id, @user.followed_persona_ids.include?(persona.id)  %>
          <%= persona.name %>
        </p>
      <% end %>
     </div>  
    <p class="button"><%= f.submit %></p>
  <% end %>
</div>                       