<%= page_title "Users" %>

<%= admin_area do %>
  <p><%= link_to "Create New User", new_user_url %></p>
<% end %>
                                   
<% @users.each do |user| %>
	<%= content_tag :div, :class => "shadow-box" do %>
		<%= content_tag :div, :id => "user-widget", :class => "user-widget-div" do %>
			<%= content_tag :div, :class => "user-image" do %>
				<%= entity_image_url(user, :tiny) %>
		  <% end %>                                     
			<%= content_tag :div, :class  => "user-follow-div" do %>
				<b><%= user.handle %></b>
				<br />
				<%= follow_user_link(user) %><br>
				<%= admin_area do %>
				  <%= link_to 'Edit', edit_user_path(user) %>
				<% end %>
			<% end %>
			<%= content_tag :div, :id  => "user-following-personas", :class => "user-following-personas-div" do %>
				<strong>Following Personas</strong><br /> <%= raw user.followed_personas.collect{|p| link_to p.name, p}.join(" | ") %>
			<% end %>
			<%= content_tag :div, :id  => "user-following users", :class => "user-following-users-div" do %>
				<strong>Following Users</strong><br /> <%= raw user.followed_users.collect{|p| link_to p.handle, p}.join(" | ") %>
			<% end %>
		<% end %>                                  
	<% end %>
<% end %>

 
<%= admin_area do %>
  <p><%= link_to "Create New User", new_user_url %></p>
<% end %>