<%= page_title "User Profile - #{@user.handle}" %>

<% content_tag :div do %>
	<% content_tag :div, :class  => "shadow-box user-profile" do %>
		<%= entity_image_url(@user, :medium) %>
	<% end %> 
	<% content_tag :div, :class  => "user-profile-info" do %>         
		<table cellpadding="5" cellspacing="0" class="show-table">
			<tr><th valign="top"><%= User.human_attribute_name :handle %></th><td valign="top" class="<%= cycle "odd-row", "even-row" %>"><%= @user.handle %></td></tr>
		  <% if owner_or_admin? @user %>
  			<tr><th valign="top"><%= User.human_attribute_name :full_name %></th><td valign="top" class="<%= cycle "odd-row", "even-row" %>"><%= @user.full_name %></td></tr>
				<tr><th valign="top"><%= User.human_attribute_name :email %></th><td valign="top" class="<%= cycle "odd-row", "even-row" %>"><%= mail_to @user.email %></td></tr>
			<% end %>
			<tr><th valign="top"><%= User.human_attribute_name :followed_personas %></th><td valign="top" class="<%= cycle "odd-row", "even-row" %>"><%= raw @user.followed_personas.collect{|p| link_to p.name, p}.join(" | ") %></td></tr>
		</table>
	<% end %>
<% end %>
<% content_tag :div, :class  => "clear" do %>
<% end %>
<h2>Latest Rants</h2>
<div id="latest-rants">
  <%= render :partial => "shared/rant_collection", :locals => {:show_user_icon => false, :rants => @user.rants.order(:created_at.desc)} %>
</div>

<p>
  <% if @user != current_user %>
    <%= follow_user_link @user %> |
  <% end %>

  <% if owner_or_admin? @user %>
    <%= link_to "Edit Profile", edit_user_url(@user) %> 
  <% end %>
  <%= admin_area do %>
    | <%= link_to "Back to Listing", users_path %>
  <% end %>
</p>


