<% if !current_user %>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <%= content_for :right_column do %>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <% end %>
<% else %>                       

	<% if !@persona.nil? %>
	  <%= page_title "Riff Ranter - #{@persona.name}" %>
	  <div id="rant-widget-container">
  	  <%= render :partial => "persona_rant_widget/persona_rant_widget" %>
	  </div>
	<% else %>
  	<%= page_title "Riff Ranter" %>
  <% end %>                                      
  
  <h1>Latest Rants</h1>
  <div id="latest-rants">
    <%= render @rants %>
  </div>

  <h1>Hot Rants</h1>
  <% for rant in Rant.find_by_sql("SELECT rants.*, avg(votes.stars) as rating FROM `rants` INNER JOIN `votes` ON `votes`.`rant_id` = `rants`.`id` group by rants.id order by rating desc limit 5") %>
    <%= render rant %>
  <% end %>

  <h1>Subscriber Rants</h1>
  <% for rant in @rants %>
    <%= render rant %>
  <% end %>

  <%= content_for :right_column do %>
    <%= render :partial => 'shared/current_user_widget' %>
  <% end %>
<% end %>     

<%= content_for :javascripts do %>
  <%= javascript_include_tag "rants_feed" %>
<% end %>