<% if !current_user %>
  <h1>Welcome to Riffranter!</h1>

	<p>Riffranter lets you parodize well-known figures in the interests of humor and pithy social commentary.<p>
  <p>To get started just sign up, select a persona, and start posting messages (a.k.a. "rants"). If that's not your thing, you can just browse the posted rants of other users.</p>
  <p>From your homepage you can view the latest rants, hottest rants of the moment, or check out your personalized rant feed made up of the users, persona, and categories that you have chosen to follow.</p>
  <p>go start making trouble!</p>

  <%= content_for :right_column do %>
    <p></p>
  <% end %>
<% else %>
	<% if !@persona.nil? %>
	  <%= page_title "Faux #{@persona.name}" %>
	  <div id="rant-widget-container">
  	  <%= render :partial => "persona_rant_widget/persona_rant_widget" %>
	  </div>
	<% else %>
  	<%= page_title "Riff Ranter" %>
  <% end %>

  <div id="rant-tabs" class="shadow-box" style="clear:both;">
    <span id="latest-rants"><%= t "Latest Rants" %></span> - <span id="hot-rants"><%= link_to t("Hot Rants"), "#" %></span> - <span id="subscriber-rants"><%= link_to t("Subscribed Rants"), "#" %></span>
  </div>

  <%= render :partial => 'front_page_rant_container', :locals => {:css_class => :latest} %>
  <div id="more-rants-div" >
    <%= link_to "More...", "#", :id => "more-rants", :class => "latest" %>
  </div>


  <%= content_for :right_column do %>
    <%= render :partial => 'shared/current_user_widget' %>
  <% end %>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "rants_feed" %>
  <%= javascript_include_tag "home" %>
<% end %>
