<div class="home-page-rant">
  <div class="header">
    <div class="photo">
      <%= image_tag rant.persona.image_url(:tiny).to_s %>  
    </div>
    <div class="title">
      <h1><%= link_to rant.persona.name, rant.persona %></h1>
      <h2><%= rant.persona.title %></h2>
      <h3><%= raw rant.persona.categories.collect{|c| link_to c.name, c}.to_sentence %></h3>
    </div>
  </div>       
  <div class="rant-body">
    <p><%= rant.body %></p>
  </div>
  <div id="rant-credit">
    By <%= link_to rant.user.full_name, rant.user %> about <%= time_ago_in_words rant.created_at %> ago.
  </div>           
  <div class="rant-controls">                        
    <!-- Controls on user's own rant -->
    <% if current_user == rant.user and !current_user.admin? %>
      <%= link_to 'Show', user_rant_path(rant.user, rant) %> |
      <%= link_to 'Edit', edit_user_rant_path(rant.user, rant) %> |
      <%= link_to 'Destroy', user_rant_path(rant.user, rant), :confirm => 'Are you sure?', :method => :delete %>
    <% end %>

    <%= admin_area do %>
      <% if @user %>
        <%= link_to 'Show', user_rant_path(@user, rant) %> |
        <%= link_to 'Edit', edit_user_rant_path(@user, rant) %> |
        <%= link_to 'Destroy', user_rant_path(@user, rant), :confirm => 'Are you sure?', :method => :delete %>
      <% elsif @persona %>    
        <%= link_to 'Show', persona_rant_path(@persona, rant) %> |
        <%= link_to 'Edit', edit_persona_rant_path(@persona, rant) %> |
        <%= link_to 'Destroy', persona_rant_path(@persona, rant), :confirm => 'Are you sure?', :method => :delete %>
      <% else %>
        <%= link_to 'Show', rant %> |
        <%= link_to 'Edit', edit_rant_path(rant) %> |
        <%= link_to 'Destroy', rant, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>        
    <% end %>                  
  </div>
</div>
