<%
	my_option = local_assigns.has_key?(:my_option) ? local_assigns[:my_option] : false # deafult va or whatever
	# render :partial => "my partial", :locals => {:my_option => true } #from caller
%>

<div class="home-page-rant">
  <div class="header">
    <div class="photo">
      <%= image_tag rant.persona.image_url(:tiny).to_s %>  
    </div>
    <div class="title">
      <h1><%= link_to rant.persona.name, rant.persona %></h1>
      <h2><%= rant.persona.title %></h2>
      <h3><%= raw rant.persona.categories.collect{|c| link_to c.name, c}.to_sentence %></h3>
    </div>
  </div>       
  <div class="rant-body">
    <p><%= rant.body %></p>
  </div>
  <div id="rant-credit">
    By <%= link_to rant.user.full_name, rant.user %> about <%= time_ago_in_words rant.created_at %> ago.
  </div>           
  <div class="rant-controls">                        
    <% if rant.user != current_user %>
      <%= follow_user_link rant.user %> |
    <% end %>

    <%= follow_persona_link rant.persona %>

    <!-- Controls on user's own rant -->
    <% if current_user == rant.user and !current_user.admin? %>
      | <%= link_to 'Show', user_rant_path(rant.user, rant) %> |
      <%= link_to 'Edit', edit_user_rant_path(rant.user, rant) %> |
      <%= link_to 'Destroy', user_rant_path(rant.user, rant), :confirm => 'Are you sure?', :method => :delete %>
    <% end %>

    <%= admin_area do %>
      | <%= link_to 'Show', rant %> |
      <%= link_to 'Edit', edit_rant_path(rant) %> |
      <%= link_to 'Destroy', rant, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>                  
  </div>
</div>
