<h1> 
  <% if @user %>
    <%= page_title "#{@user.full_name}'s Rants" %>
  <% else %>
    <%= page_title "Rants" %>
  <% end %>
</h1>

<% if !@user %>
  <p><%= link_to 'New Rant', new_rant_path %></p>
<% else %>
  <p><%= link_to 'New Rant', new_user_rant_path(@user) %></p>
<% end %>

<table cellpadding="5" cellspacing="0"  class="index-table">
	<tr>
    <% if !@user %>	  
      <th valign="top">User</th>
    <% end %>
    <th valign="top">Persona</th>
    <th valign="top">Body</th>
    <th valign="top">Ip</th>
    <th></th>
	</tr>
  <% @rants.each do |rant| %>
    <tr class="<%= cycle "odd-row", "even-row" %>">
    <% if !@user %>  	
      <td valign="top"><%= link_to rant.user.full_name, rant.user %></td>
    <% end %>
    <td valign="top"><%= link_to rant.persona.name, rant.persona %></td>
    <td valign="top"><%= truncate(rant.body, :length => 50) %></td>
    <td valign="top"><%= rant.ip %></td>
    <td><%= link_to 'Show', rant %> |
        <%= link_to 'Edit', edit_rant_path(rant) %> |
        <%= link_to 'Destroy', rant, :confirm => 'Are you sure?', :method => :delete %>
    </td>
    </tr>
  <% end %>
</table>

<% if !@user %>
  <p><%= link_to 'New Rant', new_rant_path %></p>
<% else %>
  <p><%= link_to 'New Rant', new_user_rant_path(@user) %></p>
<% end %>