<%= page_title "Rant from #{@rant.user.full_name} on #{@rant.persona.name}" %>
  
<table cellpadding="5" cellspacing="0" class="show-table">
  <% if !@user %>
    <tr><th>User</th><td valign="top" class="<%= cycle "odd-row", "even-row" %>"><%= @rant.user.full_name %></td></tr>
  <% end %>
  <% if !@persona %>
    <tr><th>Persona</th><td valign="top" class="<%= cycle "odd-row", "even-row" %>"><%= @rant.persona.name %></td></tr>
  <% end %>
  <tr><th>Body</th><td valign="top" class="<%= cycle "odd-row", "even-row" %>"><p class="rant-body"><%= @rant.body %></p></td></tr>
  <% if current_user.admin? %>
    <tr><th>IP</th><td valign="top" class="<%= cycle "odd-row", "even-row" %>"><%= @rant.ip %></td></tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_rant_path(@rant) %> |
<%= link_to 'Delete', @rant, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'New Rant', new_rant_path %> |
<%= link_to 'Back to Listing', rants_path %> 
