<%= page_title "Personas" %>

<%= admin_area do %>
<p><%= link_to 'New Persona', new_persona_path %></p>
<% end %>
<table cellpadding="5" cellspacing="0" class="index-table">
	<% for personasOut in @personas %>
	<tr>
	  <td>      
			<%= render :partial => 'persona_card', :locals => {:persona => personasOut} %>
			</td> 
			<% end %>
		</tr>  	
</table>
<%= admin_area do %>

<p><%= link_to 'New Persona', new_persona_path %></p>         

<% end %>