<%= page_title "Categories" %>
<% admin_area do %>
  <p><%= link_to 'New Category', new_category_path %></p>
<% end %>

<h1>Latest Rants by Category</h1>
<div class="directory">
  Go to: <%= raw @categories.collect{|c| link_to c.name, "##{c.name.gsub(/\s/, "_").downcase}"}.join(" | ") %>
</div>

<% for cat in @categories %>
  <h2 id="<%= cat.name.gsub(/\s/, "_").downcase %>"><%= cat.name %></h2>
  <%= render :partial => "shared/rant_collection", :locals => {:rants => Rant.order(:created_at.desc).where({:persona_id.in => cat.persona_ids}).limit(5)} %>
<% end %>

<% admin_area do %>
  <p><%= link_to 'New Category', new_category_path %></p>
<% end %>
