<%= page_title "Categories" %>
<%= admin_area do %>
  <p>
    <%= link_to 'New Category', new_category_path %> |
    <%= link_to 'Delete Category', @category, :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>        


<table border="0" cellspacing="5" cellpadding="5">
  <%= content_tag :tr do %>
    <%= content_tag :td do %>
      <h1>Latest Rants by Category</h1>
    <% end %>
    <%= content_tag :td do %>
    <%= select_tag "category_dropdown", options_from_collection_for_select(@categories, :id, :name, @category.id) %>
    <% end %>
  <% end %>
  
</table>

<h2><%= @category.name %></h2>

<%= paginate @rants %>
<%= render :partial => "shared/rant_collection", :locals => {:rants => @rants} %>
<%= paginate @rants %>

<%= admin_area do %>
  <p>
    <%= link_to 'New Category', new_category_path %> |
    <%= link_to 'Delete Category', @category, :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>        

<%= content_for :javascripts do %>
  <%= javascript_include_tag "category_index" %>
<% end %>
