<%= content_tag :div, :id => "persona-rant-widget", :class => "rant-widget-div" do %>
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td valign="top">         
				<table>
					<tr>
						<td>
			        <%= content_tag :div, :class => "rant-text" do %>
			          <%= text_area_tag "persona[rant]", nil, :size => "65x8" %>
			        <% end %>
						</td>
					</tr>
					<tr>
						<td>
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>                  
									<td id="persona-rant-widget-category-select">                           
					          <%= render :partial => 'persona_rant_widget/category_dropdown' %><br>
									</td>
      						<td id="persona-rant-widget-persona-select">
      		          <%= render :partial => 'persona_rant_widget/persona_dropdown' %><br>
      						</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td align="left">
		          <%= link_to "Create Rant", "#", "data-current-user-id" => current_user.id, "data-persona-id" => @persona.id, :class => "submit-link" %>
						</td>
					</tr>
				</table>
      </td>
      <td valign="top" align="center" id="persona-rant-widget-persona-image"> 
        <%= render :partial => 'persona_rant_widget/persona_img' %>
      </td>
    </tr>
  </table>
<% end %>
