<%= content_tag :div, :id => "rant-widget", :class => "rant-widget-div shadow-box" do %>
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td valign="top">
        <%= content_tag :div, :class => "persona-selector" do %>
          <%= entity_image_url(@persona, :profile) %>
          <br>
          <b><%= @persona.title %></b><br><br>
          <%= follow_persona_link(@persona) %><br>
          <%= admin_area do %>
            <%= link_to 'Edit', edit_persona_path(@persona) %> |
            <%= link_to 'New Persona', new_persona_path %>
          <% end %>

        <% end %>
      </td>
      <td valign="top">
        <%= content_tag :div, :class => "rant-text" do %>
          <%= text_area_tag "persona[rant]", nil, :size => "65x5" %>
          <p><%= link_to "Create Rant", "#", "data-current-user-id" => current_user.id, "data-persona-id" => @persona.id, :class => "submit-link" %></p>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
