<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
  <head>
    <title>RiffRanter <%= content_for?(:browser_title) ? "(#{yield(:browser_title)})" : ""  %></title>
    <%= stylesheet_link_tag "two-column", "application", "jquery-ui-1.8.12" %>
    <%= yield(:stylesheets) %>
  </head>    
  <body>
    <div id="tabs-page">
      <div id="tabs-div">
        <% if current_user? %>
          <%= render :partial => 'layouts/tabs' %>
        <% else %>
          <%= render :partial => "layouts/old_user_nav" %>
        <% end %>    
      </div>    
      <div id="search-bar">
        <%= render :partial => 'layouts/search_bar' %>
      </div>
      <div style="clear:both">
        <div id="body-div">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr> 
              <!-- left col -->
              <td valign="top" colspan="3">
                <div id="content">          
                  <% if content_for?(:page_title) %>
                    <h1><%= yield :page_title %></h1>
                    <hr>
                  <% end %>
                  
                  <%= yield %>
                </div>
              </td>        
              <!-- right col -->
              <td valign="top" width="25%">
                <div id="right-content">                                
                  <% if current_user? %>
                    <%= render :partial => 'shared/current_user_widget' %>
                  <% end %>
                </div>
              </td>
            </tr>
          </table>
          <div class="tent-pole"></div>
        </div>
      </div>
    </div>              
    <div id="legal-footer">
      <span>Our company accepts no liability for the content of this email, or for the consequences of any actions taken on the basis of the information provided, unless that information is subsequently confirmed in writing. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.</span>
    </div>
  </body>
  <%= render :partial => 'layouts/javascripts' %>
</html>
