<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
  <title>RiffRanter <%= content_for?(:browser_title) ? "(#{yield(:browser_title)})" : ""  %></title>

  <%= stylesheet_link_tag "application" %>
  <%= yield(:stylesheets) %>

  <%= javascript_include_tag "jquery.min.js", "rails", "application" %>
  <%= yield(:javascripts) %>

  <%= csrf_meta_tag %>
</head>
  <body>
    <div id="header">
      <h1>Riff Ranter</h1>
      <div id="user_nav">
        <% if current_user %>   
          Logged in as <%= current_user.full_name %>
          <%= link_to "Edit Profile", edit_user_url(current_user) %> | 
          <%= link_to "Log Out", log_out_path %>
        <% else %>
          <%= link_to "Sign Up", sign_up_path %> or
          <%= link_to "Log In", log_in_path %>
        <% end %>
      </div>
    </div>            
    <%= admin_area do %>
      <%= render :partial => 'shared/admin_menu' %>
    <% end %>
    <div class="<%= content_for?(:right_column) ? "colmask rightmenu" : "colmask" %>">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash-message" %>
      <% end %>    	
      <div class="colleft">
    		<div class="col1">
    			<!-- Column 1 start -->
    			<%= yield %>
    			<!-- Column 1 end -->
    		</div>          
    		<% if content_for?(:right_column) %>
      		<div class="col2">
      			<!-- Column 2 start -->
      			 <%= yield(:right_column) %>
      			<!-- Column 2 end -->
      		</div>                        
    		<% end %>
    	</div>
    </div>
    <div id="footer">
    	Legal Stuff
    </div>
  </body>
</html>
