<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
  <head>
    <title>RiffRanter <%= content_for?(:browser_title) ? "(#{yield(:browser_title)})" : ""  %></title>
    <%= stylesheet_link_tag "application", "jquery-ui-1.8.12", "jquery.ui.stars" %>
    <%= yield(:stylesheets) %>
    <%= csrf_meta_tag %>
  </head>    
  <body>
    <div id="tabs-page"> 
      <div id="search-bar" class="shadow-box">
	      <div id="tabs-div">
	        <% if current_user? %>
	          <%= render :partial => 'layouts/tabs' %>
	        <% else %>
	          <%= render :partial => "layouts/old_user_nav" %>
	        <% end %>    
	      </div>    
        <%= render :partial => 'layouts/search_bar' %>
      </div>
      <div style="clear:both">
        <div id="body-div">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr> 
              <!-- left col -->
              <td valign="top" colspan="3">
                <div id="content">         
									<div class="floater">
										<%= render :partial => "layouts/flash_messages" %>         
	                  <% if content_for?(:page_title) %>
	                    <div id="page-title">
	                      <h1><%= yield :page_title %></h1>
	                    </div>
	                  <% end %>
	                  <hr>
	                  <%= yield %>
                	</div>
								</div>
              </td>        
              <!-- right col -->
              <td valign="top" width="25%">
                <div id="right-content">                                
                  <% if current_user? %>
                    <div id="user-widget-container">
                      <%= render :partial => 'shared/current_user_widget' %>
                    </div>
                  <% end %>
                </div>
              </td>
            </tr>
          </table>
          <div class="tent-pole"></div>
        </div>
      </div>
    </div>              
    <div id="legal-footer">
      <%= link_to "Terms and Conditions", "#", :onclick => "return false;" %>
      <div class="terms" style="display:none;text-align:left">
        <%= raw textilize File.open("#{Rails.root}/public/terms.markdown").read %>
      </div>
    </div>
  </body>
  <%= render :partial => 'layouts/javascripts' %>
</html>
